[2018-07-26 05:54] ilkkarinne opened #1 "The template files should be moved outside the ./github folder"

[2018-07-26 05:56] ilkkarinne commented on #1
Nevermind, this are templates for issues. No action needed

[2018-07-26 05:56] #1 closed, assigned to nobody

[2018-07-31 12:56] ilkkarinne opened #2 "O&M Simple Features - GeoJSON encoding"
**GeoJSON example**

https://github.com/opengeospatial/omsf-profile/tree/master/omsf-json

# Short description
The purpose of this activity is to define simple encodings for the most used O&M Observation types, and thus enable interoperable O&M data exchange between existing software applications, servers and clients limited to using simple (non-complex) GML features and/or GeoJSON.

Within the IN

[2018-07-31 13:04] ilkkarinne opened #3 "O&M Simple Features - GML Simple Feature Profile encoding"
**Simplified encoding example**

https://github.com/opengeospatial/omsf-profile/tree/master/omsf-gml

# Short description
The purpose of this activity is to define simple encodings for the most used O&M Observation types, and thus enable interoperable O&M data exchange between existing software applications, servers and clients limited to using simple (non-complex) GML features.

Within the INSPIR

[2018-07-31 13:08] alexanderkotsev commented on #2
Loads nicely in QGIS incl. the attributes. Only thing I spotted is that the usedProcedureReference URI does not resolve.
Would be very interesting to see how this maps to the SensorThingsAPI data model (but that would probably be outside the scope of the the 2017.2 MIG action.

![image](https://user-images.githubusercontent.com/14992412/43461213-3353dc22-94d3-11e8-9b7f-99b9ea733912.png)

[2018-08-01 06:19] ilkkarinne commented on #2
Thanks for the comment @alexanderkotsev, the usedProcedure reference is indeed a dummy at the moment. Regarding comparison with the SensorThings API, our INSPIRE Conference INSPIRE IoT workshop (https://inspire.ec.europa.eu/events/conferences/inspire_2018/submissions/120.html) should be a good place to discuss this, as I'm presenting a PoC WFS3/OMSF project there.

[2018-08-22 14:31] PeterParslow opened #4 "OS MasterMap Highways Network - extends TN Roads (& a bit of TN Water)"
**Simplified encoding example**

# Short description
OS MasterMap Highways Network - this specification extends the INSPIRE Transport Network - Roads model, with quite a lot of additional attribution to meet customer requirements - represented by UK's Department for Transport and two major maintenance supervision authorities (Highways England, and Transport for Scotland).

Also includes Ferry Link

[2018-08-22 14:40] PeterParslow opened #5 "OS Open Roads - extends TN Roads"
**Simplified encoding example**

# Short description
OS Open Roads - this specification extends the INSPIRE Transport Network - Roads model, with quite a few additional attributes on RoadLink, to meet customer requirements - represented by UK's Department for Transport. Also adds a feature type (MotorwayJunction).

We achieved this be creating Enterprise Architect UML models which import/extend th

[2018-08-22 14:44] PeterParslow opened #6 "OS OpenRivers - extends HY-N"
**Simplified encoding example**

# Short description
OS Open Rivers, extends INSPIRE HY-N: names moved to links, a couple of extra attributes

Specification: https://www.ordnancesurvey.co.uk/docs/user-guides/os-open-rivers-user-guide.pdf

Schema: https://www.ordnancesurvey.co.uk/xml/open/rivers/1.0/OSOpenRivers.xsd

The key customers for this were the (England & Wales) Environment Agency and the S

[2018-08-22 14:51] PeterParslow opened #7 "OS OpenNames - extends GN"
**Simplified encoding example**

# Short description
OS OpenNames extends INSPIRE GN, adding a number of attributes for 'outward pointing links' to other datasets. We believe this makes it easier to use in gazetteers & other situations, by providing explicit support to refine results of string matching: is this the 'Kingston' in Humberside, or Surrey?

# Example instance
https://www.ordnancesurvey

[2018-08-22 14:57] PeterParslow opened #8 "OS MasterMap Water Network Layer - extends HY-N"
**Simplified encoding example**

# Short description
OS MasterMap® Water Network Layer offers one of the world’s most detailed, heighted water networks – showing the flow and precise course of every river, stream, lake and canal in Great Britain.

It does this by extending INSPIRE HY-N with one or two extra attributes on each of three features, and a lot on WatercourseLink (& link set)

The key cu

[2018-08-23 08:46] michellutz opened #9 "GeoJSON's CRS does not meet INSPIRE requirements"
GeoJSON (RFC 7946) only supports one projection (effectively urn:ogc:def:crs:OGC::CRS84), while INSPIRE requires projections based on ETRS89?

The best summary is probably http://docs.opengeospatial.org/guides/16-122r1.html section (5.3. OGC needs that GeoJSON does not cover). So for INSPIRE GeoJSON we will need to Extend GeoJSON for geometry but not using the geometry type, as per example "Exampl

[2018-08-23 09:48] cportele commented on #9
We have discussed this in the WFS 3.0 work and take a simpler approach than in the OGC T12 ER.

The Core will be restricted to http://www.opengis.net/def/crs/OGC/1.3/CRS84, but additional CRS can be supported using an extension to explicitly request data in another CRS (using a query parameter `crs`). In the case of GeoJSON the "prior arrangement" clause of the GeoJSON RFC is used. This works fine

[2018-08-29 12:37] PalmJanssen opened #11 "GeoJSON-Ex-NL AdminBoundaries"
**GeoJSON example**

# Short description

City administrative bounderies.

Inspire theme: Administrative units

# Example instance

General: https://www.dataplatform.nl/dataset/gemeente-wijk-en-buurtgrenzen-utrecht

Municipal boundaries city of Utrecht.
https://www.dataplatform.nl/resource/0953be2b-c979-491c-888b-3e682a662e20
https://ckan.dataplatform.nl/dataset/5713301f-c5cc-48b3-ae2a-8a107a6129f

[2018-08-29 12:40] PalmJanssen opened #12 "GeoJSON-ex-NL-Monuments"
**GeoJSON example**

# Short description

City of Schiedam Monuments (buildings etc)
Inspire theme: Buildings, land use zoning, land use planning. but according to Dutch topographical application schema

# Example instance

City of Schiedam Monuments
https://www.dataplatform.nl/dataset/monumenten-schiedam
https://www.dataplatform.nl/resource/94c9a26d-c8f4-47df-bbfc-160273ed13b1
https://ckan.datapl

[2018-08-29 12:42] PalmJanssen opened #13 "GeoJSON-ex-NL-MulitpleSets(+800)"
**GeoJSON example**

# Short description

Multiple Datasets on governmental platform. https://data.overheid.nl/data/dataset?q=geojson
Inspire theme: several but not according to data specifications.
https://data.overheid.nl/data/dataset?q=geojson

# Example instance
Over 800 GeoJSON and JSON encoded datasets

# Purpose & use

Use case:

# Used simplification rules

# Additional information

[2018-08-29 12:43] PalmJanssen opened #14 "GeoJSON-ex-NL-Roadsections"
**GeoJSON example**

# Short description

City of The Hague Road sections
Inspire theme: Transport Networks, but according to Dutch topographical application schema

# Example instance

Roadsections city of The Hague.
https://www.dataplatform.nl/dataset/3ebca230-091a-4bcd-b406-b3ef0d043176
https://ckan.dataplatform.nl/dataset/3ebca230-091a-4bcd-b406-b3ef0d043176/resource/2d02e519-2a11-4515-92e9-f3

[2018-08-29 12:44] PalmJanssen opened #15 "GeoJSON-ex-NL-Trees"
**GeoJSON example**

# Short description

City of The Hague Trees
Inspire theme: Landcover, but according to Dutch topographical application schema

# Example instance

Roadsections city of The Hague.
https://www.dataplatform.nl/dataset/bomen-json
https://ckan.dataplatform.nl/dataset/d604d9bb-8c2f-4e7d-a69c-ee6102890baf/resource/85327fde-9e76-40f3-a8d4-25970896fd8f/download/bomen-json.zip

# Purpo

[2018-08-29 12:57] PalmJanssen commented on #9
We are aware of this problem and the discussion. In applications though the only one crs (WGS) option is not workable and quick solutions are needed, developed and implemented.

From a Dutch application I know that they add a Content-Crs header to specify the CRS. Equally an Accept-Crs header is created to specify an accepted Crs for data acceptance.

[2018-08-29 13:05] heidivanparys opened #16 "ISO 19100 concepts"
**Glossary proposal**

# code
representation of a label according to a specified scheme
[ISO 19118:2011]

# conversion rule
rule for converting instances in the input data structure to instances in the output data structure
[ISO 19118:2011]

# data
reinterpretable representation of information in a formalized manner suitable for communication, interpretation, or processing
[ISO/IEC 2382-1:1993]

#

[2018-08-29 13:06] heidivanparys commented on #16
To be honest, I don't understand the definition of code, "representation of a label according to a specified scheme". Can this be explained?

[2018-08-29 13:26] heidivanparys opened #17 "Danish addresses"
**GeoJSON example**

# Short description
Danish Addresses

# Example instance
http://dawa.aws.dk/adresser?vejnavn=Rentemestervej&husnr=8&postnr=2400&struktur=mini&format=geojson

# Purpose & use
Display data regarding addresses, and provide functionality regarding adresses.

E.g. search with different parameters, autocomplete of adresses on your own website, datawash of adresses in your own system

[2018-08-29 16:18] cportele opened #18 "ELF project - supporting ArcGIS as an additional platform"
**Simplified encoding example**

# Short description

One activity in the [European Location Framework project](http://www.elfproject.eu/) was to harvest INSPIRE data from download services of Europe’s National Mapping, Cadastral and Land Registration Authorities, transform it to a native ArcGIS representation and publish it in ArcGIS Online.

The resulting GeoServices JSON encoding is very simila

[2018-08-29 17:16] cportele opened #19 "ldproxy"
**GeoJSON example**

# Short description
The [ldproxy](http://interactive-instruments.github.io/ldproxy/) tool can be used as a facade on existing WFS 2.0 services, including INSPIRE Download Services, to provide access to the data according to the [draft WFS 3.0 Core specification](https://cdn.rawgit.com/opengeospatial/WFS_FES/3.0.0-draft.1/docs/17-069.html). Supporting GeoJSON is one capability.

[2018-08-30 17:27] michellutz commented on #3
Since there are only 9 properties, it would be great if you could shortly explain the simplification applied (and why you choose this specific simplification) for each of them.

[2018-08-30 17:31] michellutz commented on #6
What do you mean by that exactly?

[2018-08-30 17:33] michellutz commented on #7
Question for the group: Should we consider extensions, i.e. additional ("simple") properties within the scope of this group?

[2018-08-30 17:34] michellutz commented on #8
What do you mean by this exactly?

[2018-08-30 17:38] michellutz commented on #13
Are any of these data sets particularly relevant to our work, e.g. because they have national coverage or implement an INSPIRE data model?

[2018-08-31 07:26] michellutz commented on #16
Thanks, Heidi. I used your proposal to create a [first version of the glossary](../blob/master/glossary.md).

[2018-08-31 07:37] HageNic opened #20 "GeoJSON example for US, AU & SO"
**GeoJSON example**

# Short description
Some of our data providers in Germany use the Geoserver default for GeoJSON output. They provide it usually in addition to GML and do not have a specific mapping.

# Example instance
US:
https://geo.sv.rostock.de/inspire/us-govserv-schools/ows?service=WFS&version=2.0.0&request=GetFeature&typeNames=us-govserv-schools:GovernmentalService&outputFormat=applicat

[2018-08-31 07:40] ilkkarinne commented on #3
No problem, I can provide a list of all the properties in the O&M abstract model, and how they have been implemented in OMXML and OMSF GML encoding.

[2018-08-31 07:52] HageNic opened #21 "Simplification example from Fitness for Purpose"
**Simplified encoding example**

# Short description
In order to support the activities of MIWP2016.1 the GDI-DE Coordination office on behalf of the German National Point of Contact for INSPIRE launched a call for recommendations for changes to INSPIRE aiming at improving the implementation and use of INSPIRE Annex III data.
The study aimed at identifying exemplary issues and structural problems

[2018-08-31 08:16] nmtoken commented on #9
The first issue is not whether  http://www.opengis.net/def/crs/OGC/1.3/CRS84 is sufficient or not for most applications, its the fact that http://www.opengis.net/def/crs/OGC/1.3/CRS84 is not an INSPIRE compliant CRS, so to be compliant with the law (as it currently stands) there must be a way of having some ETRS89 geometry.

[2018-08-31 08:24] nmtoken commented on #9
From a WFS point of view we can have some CRS request parameter doesn't really matter whether it's  HTTP or some other protocol header information or some URL request param, or indeed from some param in a (hypermedia) document, that gets an extended GeoJSON file, with the appropriate geometry... the issue is then how the downloaded GeoJSON is recognized by other applications outside of the web env

[2018-08-31 08:50] nmtoken commented on #2
Is there a specific MIME type for this GeoJSON encoding

[2018-08-31 08:59] PeterParslow commented on #8
We extended the WatercourseLink feature type with a couple of 'name' attributes (localName, localNameAlternative). We (& our users) feel that this makes the data simpler - at least, simpler to use for the use cases they have in mind. Of course, if they wanted to produce a graphical output, they would have to de-duplicate the names.

The "alternative" name is a different kind of simplification - it

[2018-08-31 09:14] PeterParslow commented on #7
I think it is useful where those extensions are to make the data simpler to use (e.g. moving the names to links). But not the extra attributes we've put in for our own use cases. A quick look suggests that's all of them - we add a range of "outward links".

On reflection, perhaps the only simplification is our constraint that the geometry shall only be a point. But this is just documented, not enf

[2018-08-31 09:20] PeterParslow commented on #6
Same as with the premium "OS MasterMap Water Network", we extended the WatercourseLink feature type with a couple of 'name' attributes (although for some reason we gave them different attribute names: localName, localNameAlternative*). We then don't supply any LinkSet features (which is where INSPIRE has the name). We (& our users) feel that this makes the data simpler - at least, simpler to use f

[2018-08-31 09:46] cportele opened #22 "ShapeChange transformations"
**Simplified encoding example**

# Short description
The [ShapeChange tool](http://shapechange.net/) processes application schemas according to ISO 19109 and generates resources derived from the conceptual schema. Creating an implementation schema of an application schema in general will involve some transformation of the application schema in order to meet the needs of a use case or implementatio

[2018-09-03 14:07] ilkkarinne commented on #3
The attribute/association specific simplification decision table is not available at https://github.com/opengeospatial/omsf-profile/tree/master/omsf-gml#properties

[2018-09-03 14:08] ilkkarinne commented on #2
Attribute/association specific simplification decisions now provided in https://github.com/opengeospatial/omsf-profile/tree/master/omsf-json#properties

[2018-09-03 14:12] ilkkarinne commented on #2
@nmtoken: to note this in here too: there is no association MIME type for this encoding, OMSF GeoJSON Features is plain GeoJSON (application/geo-json)

[2018-09-04 18:07] michellutz commented on #3
Do you mean "**now** available"? ;-)

[2018-09-04 19:06] ilkkarinne commented on #3
Indeed, thanks @michellutz

[2018-09-25 09:06] michellutz opened #23 "Should the simplification rules / GeoJSON encoding rule include profiling?"
Should the simplification rules / GeoJSON encoding rule include profiling, i.e. should they include the possibility to provide only a sub-sets of the properties (and maybe object types) defined in the INSPIRE conceptual data models?

[2018-09-25 09:10] michellutz opened #24 "Should the simplification rules include extensions?"
Some of the examples proposed (e.g. #4, #5, #6, #7) are extensions to the INSPIRE data models that include additional ("simple") properties with the aim to make data easier to use.

Should such extensions be considered in the simplification rules, and under what conditions?

[2018-09-25 09:12] michellutz opened #25 "Generic vs. theme-specific rules (for which themes?)"
Should we focus on generic rules (for all/most INSPIRE themes) or specific ones (for one or a small number of themes)?

If the latter, which themes/use cases should be used to prototype and test the simplification rules / GeoJSON encoding rule?

[2018-09-25 09:22] michellutz opened #26 "Should we include simplification based on UML implementation models?"
Simplification rules could be implemented purely in the UML-to-encoding rules, or alternatively, in a first step, an implementation model could be manually developed in UML, and the UML-to-encoding rules could then be applied to that implementation model.

The latter was already foreseen in the data specifications template (for the UML-to-GML mapping):

![implementation_model](https://user-images.

[2018-09-25 09:25] michellutz opened #27 "Should the GeoJSON encoding rule include simplification rules?"
Should the GeoJSON encoding rule focus on the spatial aspects or also include simplification rules for the non-spatial properties, e.g. to create flatter structures or pre-defined type mappings for certain types (e.g. geographical names)?

[2018-09-25 09:33] cportele commented on #26
Just a quick comment: The implementation model in UML does not have to be developed manually, it could also be derived in an automated way - this is basically what the ShapeChange Transformations (#22) do.

[2018-09-25 09:39] cportele commented on #23
I think it would be a mistake to disallow profiling.

Take GeographicalName as an example. Only very few datasets will have all the rich information supported by the data type and for many use cases a simpler profile of the data type will be sufficient.

[2018-09-26 08:49] heidivanparys opened #28 "Conversion rules for decoding"
A separate issue to draw attention to earlier reflections on the encoding rule discussion: please have a look at the following document, and post your feedback.

AGENCY FOR DATA SUPPLY AND EFFICIENCY. _2016.1 Fitness for purpose Annex III - Danish comments_ [online]. 8 June 2017. Available from: http://inspire-danmark.dk/media/2918083/doc11-_20161-fitness-for-purpose-annex-iii-dk-comments.pdf

As

[2018-09-26 08:51] heidivanparys commented on #28
Note that this document was already mentioned in issue #22 . The document also contains comments on the document mentioned in #21 It provides a possible solution for, or at least input to, issue #23 .

[2018-09-27 11:43] PalmJanssen commented on #26
Good to hear this about ShapeChange. I still had the question open if the ShapeChange flattener produced a UML implementation model or an adapted (flattened) GML application schema. Of course it can also do the latter but I understand now that it also produces a UML. Perfect.

[2018-09-27 11:54] PalmJanssen opened #29 "Definition of flattening - denormalisation"
Related to the concept of flattening data structure.

We must come up with a proper (working) definition of what we mean by flattening of data structures. I suppose this can be found somewhere already or the editor can take care of it.

We usually take the different levels of simple features as levels of complexity. SF0 being the one that usually is the intended goal of a flattened data structure.

[2018-09-27 11:59] cportele commented on #26
@PalmJanssen To be precise: ShapeChange internally uses a model specification that is based on a UML profile that covers all the information that we have seen and that supports the General Feature Model. When a model is transformed, the result is a new model in the same specification. Typically that derived model is processed to generate implementation artefacts, but you may also generate a EA fil

[2018-09-27 12:07] PalmJanssen opened #30 "Are there documents on Standard Flattening rules - denormalisation?"
Some years ago we came up with a set of standard flattening rules. It was published as a guideline to help information modellers on the subject. It was part of a larger document on Geometry in UML and in GML.

Find it here: (for the Dutch speaking amongst us): [https://www.geonovum.nl/uploads/documents/Geometrieinmodelengml_1.0_0.pdf](https://www.geonovum.nl/uploads/documents/Geometrieinmodelengml

[2018-09-27 12:11] PalmJanssen commented on #26
@cportele Still perfect :)

[2018-09-27 15:27] heidivanparys commented on #26
For the discussion, I would like to add this diagram (from the document mentioned in #28) that describes an approach, as also used by ShapeChange:

![billede](https://user-images.githubusercontent.com/11427611/46156680-8693fc00-c269-11e8-988d-74c07657652e.png)

So it is overall seen a two-step approach:

- simplify the UML model (e.g. on the fly, in memory)
- apply the UML-to-GML encoding rule

[2018-09-27 15:37] heidivanparys commented on #24
That's a hard one. I'm not sure we should do that... I can see why it could be useful, but it has already be proven that INSPIRE can be extended, so I'm not sure we should include it here.

[2018-09-27 18:08] tevbrasch commented on #24
I would maybe say that, unless simplification through extension is explicitly needed to handle an attribute for a specific format (how would geojson handle the complex dataype au.administartiveunit.name for example), we should probably avoid it.

[2018-09-27 18:15] tevbrasch commented on #27
I think this depends on what the objectives of the group are. Is our remit to only consider the essential technical changes needed to deliver the data model in an alternative encoding, or should we also be considering what the alternative encoding will eventually be used for?

[2018-09-27 19:00] ghost commented on #27
I was thinking along the same lines and I am torn, showing first that we can translate the data model in an alternative encoding and then that it can also cover simplified versions would be the classic way to answer this, but a simpler structure will probably be prefered on the application side?

[2018-09-28 06:33] cportele commented on #24
In my view the simplification rules should allow extensions, but in order for an encoding to be a candidate for a general INSPIRE Good Practice, extensions should be optional. That is, it should be able to use the encoding to represent data that is restricted to the scope of the IR.

[2018-09-28 07:14] cportele commented on #25
In general, a proliferation of encoding rules on a theme- or feature-type-basis may create new issues, so that should probably be avoided unless there are good reasons.

On the other hand, I would recommend to validate that the encoding of a feature type meets the intended goals through implementation before considering that encoding a Good Practice. If the existing, encoding rule could be improve

[2018-09-28 07:55] MarieLambois commented on #26
I think that an intermediate UML model would be a ice way to document the simplification. If Shapechange can generate it, it is perfect !

[2018-09-28 07:56] MarieLambois commented on #23
Agree with Clemens, but then the status (official or not) of these profiles should be discussed.

[2018-09-28 10:27] michellutz commented on #24
[2017.2 meeting 2018-09-28]

- In the listed examples, additional properties were used to simplify use of the provided data, e.g. by adding a simple "name" property in addition to the complext geographical name property already present in the schema. This was mainly done, in order to stay compliant with the existing schemas.
- Since this action's remit is to define additional encodings, the focus

[2018-09-28 10:29] michellutz commented on #26
[2017.2 meeting 2018-09-28]
It was agreed that intermediate simplification steps at the UML model level should be included and might be useful to document the applied simplifications.

[2018-09-28 10:43] michellutz opened #31 "Proposals for example data sets / themes / use cases"
Please use this issue to propose sample INSPIRE data sets, themes and/or use cases that we should consider in the action to develop examples of the proposed GeoJSON encoding and simplification rules.

These examples should serve to prototype and test the proposed approaches, to focus our discussion and to illustrate the proposed approaches in the GP documents.

Where possible, please also include

[2018-09-28 11:46] michellutz commented on #25
[2017.2 meeting 2018-09-28]
- The main question here is whether the action should aim for generic or theme-specific rules?
- It was agreed that the action should develop a list of generic simplification rules that can be applied to create an encoding as well as a default (sub-)set of these rules that should be applied to all themes (wherever possible). Additional further rules from the list might

[2018-09-28 11:46] michellutz commented on #31
[2017.2 meeting 2018-09-28]
The following themes were already proposed in the discussion: AD, O&M (AC-MF, OF and borehole-related observations), AU (to be checked with Spain), AM (to be checked with Denmark)

[2018-09-28 11:50] michellutz commented on #27
[2017.2 meeting 2018-09-28]

- There could be separate GeoJSON encodings using complex or simple structures for the non-spatial properties.
- However, since the rationale for this action is to improve usability of INSPIRE data in standard GIS client applications, the GeoJSON encoding should use simple structures as much as possible.

[2018-10-03 11:23] nmtoken commented on #19
Why not include links to other representations in the GML?

[2018-10-03 11:29] cportele commented on #19
Because of XML Schema. Only elements that are explicitly foreseen can be added, i.e. additional links would the XML invalid. This would be different, if such links were included in the existing XML Schemas, but that is not the case. This is different in JSON Schema and how JSON is used.

What could be done is to include such links in "Link" headers in the response.

[2018-10-03 11:45] nmtoken commented on #19
You could use CDATA, (at least to give hints), with no validation issues, and also xlink:href on the wfs:memebr to point to one alternate encoding.

[2018-10-03 11:58] cportele commented on #19
* I don't see an existing XML element where such a CDATA block could be added in a useful way. For example, it does not belong into `gml:description`.
* Misusing `wfs:member` for this would violate the requirements. Each member is a separate feature that meets the selection criteria in the request.
* I think there will be continued use of XML/GML for a long time, but I also think that clients that

[2018-10-03 12:52] nmtoken commented on #19
I can't see how it violates the requirements (Each member is a separate feature that meets the selection criteria in the request.)  I mean why wouldn't the same rule apply to GeoJSON or HTML?  We're not saying the link is new feature in any case, just an alternative encoding of the same feature.

I'm just musing in any case, I just can't see why you wouldn't do it for interoperability, using the h

[2018-10-03 20:19] cportele commented on #19
If I select some set of features and it matches 9 features, then there have to be 9 `wfs:member` elements, each with one of the features (embedded or referenced). If I use `wfs:member` to add links to alternate representation then I will more than 9 `wfs:member` elements and those properties have a different semantics than `wfs:member`.

The same rule applies there, too, but in those cases the "al

[2018-10-04 10:07] PeterParslow commented on #5
See https://github.com/INSPIRE-MIF/2017.2/issues/8#issuecomment-417600669 for a description of the two simplifications done for names

[2018-10-04 10:08] PeterParslow commented on #4
See https://github.com/INSPIRE-MIF/2017.2/issues/8#issuecomment-417600669 for the two simplifications done to names.

I believe the extension to SimplePointReference also makes it simpler to use - a "simpler encoding".

[2018-10-04 10:13] PeterParslow commented on #24
Take the two "names simplifications" used by OS in the examples we have submitted, the group could define:
- one additional encoding, which could be common across a number of themes, and which would be useful in many use cases: to use GML3.3's LocalisedCharacterString. This would be an alternative simplified Geographic Names model, with some kind of hint that themes adopt it? Or an alternative enc

[2018-10-18 12:39] PalmJanssen opened #32 "Terms: Profile, Extension and Flattening"
**Glossary proposal**

Add one or several proposals for terms and their definitions

# Profile
In the context of application schema: Subset of the complete functionality and information content of an application schema.

# Extension
In the context of application schema: Adding semantics and or functionality to an existing application schema.

# Flattening
Simplifying a complex Application Schema m

[2018-11-08 14:50] heidivanparys commented on #29
Maybe the following concepts could be helpful?

![concept model](https://user-images.githubusercontent.com/11427611/48206069-7477a400-e365-11e8-9396-cb1f4dd4560c.png)

**data structure**
physical or logical relationship among units of data and the data themselves
[ISO/IEC 2382:2015, 2122353]

**flat data structure**
data structure in which records have no structured interrelationship
NOTE This req

[2018-11-09 07:42] heidivanparys commented on #29
For clarity, I copy here an extract of
[1] FEDERAL HIGHWAY ADMINISTRATION. _Data Integration Primer_ [online]. August 2010. Available from: https://www.fhwa.dot.gov/asset/dataintegration/if10019/if10019.pdf

I found this document in the search for a definiton of "flattening" and "flat model". I think it could be useful, especially if we can strengthen the definitions so they fit with the ISO and o

[2018-11-09 08:23] heidivanparys commented on #32
I think we should try to avoid using the same terms for different meanings when a term is defined already in ISO 19100.

**Profile**

I had a look again at how "profile" is defined in ISO 19106 (which is taken/modified from ISO/IEC TR 10000-1).

In the document mentioned in #28 , it is written that "According to ISO 19106, a profile is a set of one or more base standards or subsets of base standar

[2018-11-09 09:24] heidivanparys commented on #31
👍 for AM

[2018-11-09 09:33] heidivanparys commented on #28
I would like to highlight the following from the document:

![billede](https://user-images.githubusercontent.com/11427611/48254397-dab20480-e401-11e8-89e8-60ab0cc6597b.png)

So what could conversion rules for decoding look like and how should they be used? E.g. in the cases of:

- properties that are not maintained (e.g. name.pronunciation)
- properties that are constant (e.g. name.spelling.script

[2018-11-09 09:37] heidivanparys commented on #17
I am actually not familier with this dataset myself, so I would prefer to focus on contributing with the experience that I already have instead of using a lot of time on diving into this example, especially as we have other examples available. So I therefore close this issue.

[2018-11-09 09:37] #17 closed, assigned to nobody

[2018-11-09 10:36] nmtoken commented on #31
borehole ties in with GeoSciML, there is for example already a GeoSciML-Lite BoreholeView simplified structure.  http://onegeology.org/service_provision/data_preparation/lite.html or better http://geosciml.org/doc/geosciml-portrayal/2.0.1/documentation/html/

 There are already services providing this simplified view : http://resource.europe-geology.eu/service/wmsBorehole?service=WMS&request=GetCa

[2018-11-09 10:54] heidivanparys commented on #32
[Summary of meeting 2018-11-09]

Look up if and how other standards bodies define" profile".

A possible solution may be to define the term profile more broader than is currently done in ISO.

E.g.:
- profile = (to be defined, something with a subset probably, and a particular function)
- (base) standards profile = set of one or more base standards or subsets of base standards, and, where applicab

[2018-11-19 07:39] cportele commented on #32
There have been long discussions in the OGC Architecture Board about "profile" etc. I will check the results and get back.

[2018-11-19 16:39] nmtoken commented on #25
Ideally we want generic rules, but some rules might not apply to data in all themes, just because of the nature of the data.

[2018-11-19 16:53] nmtoken commented on #9
My understanding from the http://docs.opengeospatial.org/guides/16-122r1.html document is that it is not valid, (section 5.3)

and

and section 5.3.2

[2018-11-19 17:48] nmtoken opened #33 "EarthResourceML-Lite (ERML-Lite)"
**Simplified encoding example**

# Short description
Simplified schemas that takes the form of flat table of attributes (conformant to OGC Simple Features Level-0 profile); previously called EarthResourceML-Portrayal.

ERML-Lite is an abridged version of the full EarthResourceML model and can be used to deliver simplified views on mineral occurrences and their commodities, mines, mining activities

[2018-11-20 08:06] cportele commented on #9
That OGC document describes one way - and is incorrect in some statements.

The GeoJSON specification is clear that "alternative coordinate reference systems can be used without risk of data being misinterpreted, where all involved parties have a prior arrangement". See [section 4](https://tools.ietf.org/html/rfc7946#section-4).

This is not about extending the geometries to other types as long as

[2018-11-20 11:00] nmtoken commented on #9
OK, but really for INSPIRE, and OGC we should formally define an extension, which should include changing the mime type (perhaps by adding a subtype).

[2018-11-20 14:58] nmtoken opened #34 "GeoSciML-Lite"
**Simplified encoding example**

# Short description

GeoSciML Lite (previously called GeoSciML-Portrayal), is a simplification of parts of [GeoSciML](http://docs.opengeospatial.org/is/16-008/16-008.html) and Observations and Measurements (ISO 19156).

GeoSciML Lite conforms to the Level 0 of the Simple Features Profile for GML (OGC 10-100r, OGC 06-049).

The simple features profile supports only

[2018-11-29 14:56] nmtoken opened #36 "Alternate Encoding for INSPIRE Data: GeoJSON issues"
Is it correct to say:

Certainly that's how it started, but now it has been formalised as an IETF internet standard.  IETF describe themselves as: _The IETF is the premier Internet standards organization._

We shouldn't say it is WGS 84, but rather that it uses it, as per the standard...

   System 1984 (WGS 84) [WGS84] datum, with longitude and latitude units
   of decimal degrees.  This is equiv

[2018-11-30 08:00] heidivanparys commented on #32
Regarding profile: this may help too, a brand new document, with input from OGC it seems as one from the editors is from OGC:

CAR, Nicholas. _Profile Guidance_ [online]. 29 November 2018. W3C. Available from: https://w3c.github.io/dxwg/profiles/

[2018-11-30 08:18] cportele commented on #32
I had a look at the result of the OGC discussions this year (they were presented in September at the Stuttgart TC meeting). As a standards organisation OGC is mainly looking at profiles of their standards/specs.

The terms and definitions are:

This is a Type 1 Profile in ISO 19106:2004.

And:

[2018-12-10 17:13] #36 closed, assigned to nobody

[2018-12-11 12:35] PeterParslow opened #40 "Confusion of 'feature' and geometry in Alternate Encoding for INSPIRE Data: GeoJSON"
The introduction of https://github.com/INSPIRE-MIF/2017.2/blob/master/GeoJSON/specification.md currently says "The features include points (therefore addresses and locations), line strings (therefore streets, highways and boundaries), polygons (countries, provinces, tracts of land), and multi-part collections of these types."

Just like 'our' other standards, GeoJSON distinguishes between Feature

[2018-12-11 13:35] nmtoken commented on #36
But no change to the WGS84 comment,  really to avoid confusion we should say it is lon/lat, just as they say in WFS 3.0 issue on the matter https://github.com/opengeospatial/WFS_FES/issues/65, as opposed EPSG:4326 which is WGS84 lat/lon, not just link to the definition

[2018-12-11 13:42] nmtoken opened #41 "Incorrect use of the word projected in Alternate Encoding for INSPIRE Data: GeoJSON"
The https://github.com/INSPIRE-MIF/2017.2/blob/master/GeoJSON/specification.md document has a section **Projected CRS support** but we probably don't just mean projected CRS, we mean support for any alternate coordinate reference system whether projected (like [EPSG:3857](https://www.epsg-registry.org/report.htm?type=selection&entity=urn:ogc:def:crs:EPSG::3857&reportDetail=short&style=urn:uuid:rep

[2018-12-12 13:53] nmtoken opened #43 "General Rules for transforming XML into JSON"
**Simplification Model Transformation Rule**

## Name of the Rule

Rule for transforming XML into JSON

## Category

* Alternate Structures for specific types or type hierarchies (can be applied to specific types)

## Description

General Rules for transforming XML into JSON originally taken from OGC 14-009r1 ~ Engineering Report: “OGC 14-009r1, OGC Testbed-10 Rules for JSON and GeoJSON Adoption:

[2018-12-12 13:59] PalmJanssen opened #44 "NL - SRule: Attribute - 1. Multi 2 Single"
**Simplification Model Transformation Rule**

This rule issue is to be referenced from the best practive paper.

Use the sections below to specify the Model Transformation rule.

## Name of the Rule

Attribute: one multiple attribute to list of single attributes

## Category

Add the category into one of the following categoies:

* Alternate Structures for specific types or type hierarchies (can b

[2018-12-12 14:19] PalmJanssen opened #45 "NL - SRule: Attribute - 2. Multi 2 Single"
**Simplification Model Transformation Rule**

This rule issue is to be referenced from the best practive paper.

Use the sections below to specify the Model Transformation rule.

## Name of the Rule

Give the rule a summary name.

## Category

Add the category into one of the following categoies:

* Alternate Structures for specific types or type hierarchies (can be applied to specific types)
* Ge

[2018-12-12 16:03] PalmJanssen opened #46 "NL - SRule: Attribute - Complex 2 Simple"
**Simplification Model Transformation Rule**

This rule issue is to be referenced from the best practive paper.

Use the sections below to specify the Model Transformation rule.

## Name of the Rule

Attribute - complex structure to simple structure

## Category

Add the category into one of the following categoies:

* Flatten nested structures

## Description

Complex structered attributes are tr

[2018-12-12 16:14] PalmJanssen opened #47 "NL - SRule: Association 2 Attribute"
**Simplification Model Transformation Rule**

This rule issue is to be referenced from the best practive paper.

Use the sections below to specify the Model Transformation rule.

## Name of the Rule

Association to attribute

## Category

Add the category into one of the following categoies:

* Alternate Structures for specific types or type hierarchies (can be applied to specific types)
* General

[2018-12-12 16:36] alexanderkotsev opened #48 "Addresses GeoJSON examples (different strategies)"
# Short description
Our objective was to investigate different strategies for conversion of existing INSPIRE GML to GeoJSON with the idea to **test the usability of the end product with popular GIS tools (desktop and web clients)**. We discovered 'Addresses' data through the INSPIRE geoportal and converted it to GeoJSON.

# Example instance
Example instances are available [here](https://github.com

[2018-12-13 13:51] nmtoken commented on #48
This seems to suggest that the CRS of GeoJSON is EPSG:4326, it's not.  The CRS of GeoJSON is CRS:84, the difference is the order of the axes EPSG:4326 is lat/lon, CRS:84 is lon/lat

[2018-12-13 15:01] nmtoken commented on #48
Note example of GeoJSON coming from a WFS (works in http://geojson.io) coordinates definitely in lon/lat order.

    {
    "type": "FeatureCollection",
    "name": "ENERGY_STATUS_2016",
    "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:OGC:1.3:CRS84" } },
    "features": [
    { "type": "Feature", "properties": { "id": 20, "fid": 20, "Site_Name": "Biomass Gasification Gulu", "S

[2018-12-14 08:13] alexanderkotsev commented on #48
Thanks @nmtoken for indicating this. You are right.  A minor detail with a huge impact ;). Probably most of us who have mapped European data have at least once seen them placed around the Horn of Africa.

Note that when writing GeoJSON in QGIS indicating EPSG:4326 as the CRS (what we actually did) what is actually written in the GeoJSON is "urn:ogc:def:crs:OGC:1.3:CRS84". In order to avoid confusi

[2018-12-14 10:05] MarieLambois commented on #48
### Short description
I have tried to create different GeoJSON approach based on different use case. I did not take the use case view it in a GIS tool as it has been already addressed by @alexanderkotsev above.

### Example instance
Example instances are available here.

### Sources
IGNF dataset. Reduced to 1 address rigth now. A larger one is available for testing if required.

### Underlying (IN

[2018-12-14 12:16] PalmJanssen opened #51 "GeoJSON-Ex-NL Addresses"
**Alternative encoding example**

# Short description
Inspire Theme Addresses.

Address data for the Dutch Address key-register.
Not harmonized with Inpsire.

# Example instance
https://geodata.nationaalgeoregister.nl/bag/wfs?request=GetFeature&service=WFS&typeName=bag:verblijfsobject&outputFormat=json&srsName=EPSG:4326&count=1&version=2.0.0

# Sources
Please describe/list the sources of data used

[2018-12-14 12:21] PalmJanssen opened #52 "GeoJSON discussion Netherlands"
This is a link to the GML.next GeoJSON discussion we opened this year:

https://geoforum.nl/t/gml-next-hoe-zet-je-json-geojson-in-als-lichter-alternatief-voor-online-toepassingen/1681

[2018-12-14 14:49] ilkkarinne opened #53 "O&M Simple Features - GeoJSON & GML encodings"
**Alternative encoding example**

# Short description

The purpose of the O&M Simple Feature encodings (OMSF) is to define an easily digestible data formats for data conformant to the Observations and measurement standard (O&M, ISO 19156:2011), and thus enable interoperable O&M data exchange between existing software applications, servers and clients limited to using simple (non-complex) GML featu

[2018-12-16 10:32] heidivanparys opened #54 "Area Management Restriction and Regulation Zones (AM) example for GML"
**Alternative encoding example**

# Short description
Example including profiling, model transformation and different encoding for certain properties with types from the Base Types 2 application schema.

Encoding format: XML

Thematic domain: Area Management Restriction and Regulation Zones (AM)

# Example instance
[code]

# Sources
Based on a feature of a Danish AM dataset, with modifications and

[2018-12-17 08:17] PalmJanssen opened #55 "GeoJSON-Ex-NL Topography"
**Alternative encoding example**

# Short description
Large scale topography touching several INSPIRE features. The WFS includes JSON. A UML of the source model is included. It allows for analyzing simplification rules

# Example instance
https://geodata.nationaalgeoregister.nl/beta/bgt/wfs?request=getcapabilities&service=wfs

# Sources
Please describe/list the sources of data used in this example

[2018-12-17 10:04] heidivanparys opened #56 "SRule: Restrict a property to be by reference only"
**Simplification Encoding Rule**

This rule issue is to be referenced from the best practice paper.

## Name of the Rule

Restrict a property to be by reference only.

## Category

* Reduce nested structures (inline referencing causes nested structures with many levels)
* Reduce implementation effort of and duplication of data by data providers, if the value of the property is a resource managed b

[2018-12-17 10:24] NathalieDelattre opened #57 "Keeping the integrity of the INSPIRE ID and lifecycle info when proceeding to simplification"

[2018-12-17 10:28] NathalieDelattre opened #58 "keeping INS"
simple features are also used for other process than viewing and spatial analysis , we can integrate generalisation tools , and change detection tools allowing to register the historical changes of a same dataset. When simplifying by mean of alternative datamodel, we should ensure that UIds and life-cycle info are kepts. But from complex datamodel to simplify ones is that achievable?

[2018-12-17 10:41] #41 closed, assigned to nobody

[2018-12-17 10:41] #40 closed, assigned to nobody

[2018-12-17 11:09] PeterParslow commented on #40
I'm not quite content that this pull request fixes this comment. See https://github.com/INSPIRE-MIF/2017.2/commit/94239de4aa1e8a5c72e2ff6bbb7c96f7deb29fe1#commitcomment-31700462

[2018-12-17 11:14] NathalieDelattre opened #60 "from simple to complex to ( again) simple data model"
Speaking about  the requirement to supply or not the INSPIRE/GML together with the alternative encodings.
If the complexity has been artificially implemented from original data sources , I don't see a real need to do so.
the reasons are:
1) risk of loosing the integrity of UIDs and lifecycle info:
unique id and lifecycle info are usually maintained at the source level and migrating into complex da

[2018-12-17 11:55] ilkkarinne commented on #2
This issue is not re-formulated as #53

[2018-12-17 11:56] ilkkarinne commented on #3
This issue is not re-formulated as #53

[2018-12-17 12:31] cportele commented on #48
We have looked into Address features in an INSPIRE Download service in North-Rhine Westphalia, too. We have set up two WFS 3.0 instances using ldproxy on top of the INSPIRE Download service. These are experimental services. The first one merges the address components into the Address feature.

Here is an Address feature:

[code]

The following screenshot displays how this address looks in the HTML

[2018-12-18 09:55] thorsten-reitz commented on #58
Duplicates #57

[2018-12-18 09:55] #58 closed, assigned to nobody

[2018-12-18 10:02] NathalieDelattre commented on #57
**adding the description**

simple features are also used for other process than viewing and spatial analysis , we could consider generalisation tools , and change detection tools allowing to register the historical changes of a same dataset. When simplifying by mean of alternative datamodel, we should ensure that UIds and life-cycle info are kepts. But from complex datamodel to simplify ones is t

[2018-12-18 11:01] PeterParslow opened #61 "Issue with the description of the example simplifcation rule in the "Best practices for Model Transformations""
This issue concerns the document at 2017.2/model-transformations/BestPracticesForModelTransformations.md, in particular, the description of the example, at [https://github.com/INSPIRE-MIF/2017.2/blob/master/model-transformations/BestPracticesForModelTransformations.md#rule-p1-rec001-flattening-of-complex-structures].

Here it says "If the upper bound of the resulting element multiplicity is not un

[2018-12-20 09:26] MarieLambois opened #62 "EMF observation sample data"
BRGM has set up the following workflow with EMF data:
https://wfspoc.brgm-rec.fr/geoserver/ows?service=wfs&version=2.0.0&request=GetFeature&StoredQuery_ID=GetEnvironmentalMonitoringFacilityById&ID=Piezometre.06512X0037.STREMY.2
This is an ongoing work that will be continued in 2019 with new URIs, link to registers and links to OGC Sensor Things API.

Those data could be used as sample data for the

[2019-01-10 10:51] cportele commented on #32
There is now a first Public Working Draft available on the W3C Profile Ontology:

https://www.w3.org/TR/2018/WD-dx-prof-20181218/

[2019-01-30 07:33] thorsten-reitz commented on #61
I have changed the structure of the document and adapted the rule as well. The new structures are on the draft branch.

[2019-01-30 07:37] thorsten-reitz commented on #56
Thanks for the detailed description. I have now added it to the set of rule in the document on Model Transformations (as "Property Composition to Association").

[2019-02-01 08:01] heidivanparys opened #64 "Concepts regarding different kinds of encoding rules (glossary)"
We need to be clear on the concepts regarding the different kinds of encoding rules.

We had a discussion regarding this in December. "D2.7: Guidelines for the encoding of spatial data, Version 3.3" has already different terms. In addition, the current draft uses "alternate encoding".

![billede](https://user-images.githubusercontent.com/11427611/52109953-0a366e80-25f7-11e9-9a43-b4288fd61120.png)

[2019-02-01 10:55] PalmJanssen opened #65 "INSPIRE theme examples: approach"
I understand that we will come up with a list of  defined simplification rules that can be used where ever needed in the proces of simplifying dataspecs.

These  defined simplification rules are now being developed using for instance Adresses as an example. I had the idea that this would be done by first evaluating the present Adresses uml-schema on complexity and then based on general simplificat

[2019-02-04 11:02] nmtoken commented on #9
I've been thinking about this from a service orientated view point, but is it correct that the ETRS89 restriction for European coverage only applies to Network services?

For example the following issue suggests that dataset metadata doesn't need to specify ETRS89

ref: https://github.com/inspire-eu-validation/ets-repository/issues/135

So a direct link to GeoJSON from a dataset metadata record wo

[2019-02-07 14:40] heidivanparys opened #67 "Simplified Geographical Name: ISO 693"
The documentation of the language property says:

So the model transformation rule should be updated accordingly. Currently it says: "The character to use to separate the original property name from the ISO 639-3 language code."

[2019-02-07 14:46] heidivanparys opened #68 "Simplified Geographical Name: model transformation rule"
The model transformation rule should be more specific.

Currently it says:

How about something like:
Create a new property for every language. Give each property as name the concatenation of "name", the value of the separator parameter and the ISO 693-3 or ISO 693-5 code of the language.

Should the list of needed languages actually also be a parameter?

[2019-02-07 14:59] heidivanparys opened #69 "Bijective/bijection (glossary)"
**Glossary proposal**

Add one or several proposals for terms and their definitions

# bijective model transformation
TODO

# bijective data transformation
TODO

# bijection
TODO
A reference to http://mathworld.wolfram.com/Bijection.html

[2019-02-07 15:18] heidivanparys opened #70 "GML-specific simplifications"
There should be a section where already identified GML-specific simplications can be documented, to be used when an alternative encoding that is GML, but not the default encoding, is developed.

An example is given in section 4.5.2 Encoding of GeographicalName as string with language information in:
[2016.1 Fitness for purpose Annex III - Danish comments](http://inspire-danmark.dk/media/2918083/do

[2019-02-22 14:40] NathalieDelattre opened #71 "simplification rule : geographical name"
**Simplification geographical names**

associating the language code with the attribute name like name_deu :
what if users or APIs want to list the name of several countries in the same time knowing that they are in different languages, even inside a country like Belgium, and how to know which languages are used ?
The attribute naming  should be  the same in case of listing or showing all the geog

[2019-02-26 06:56] thorsten-reitz commented on #70
Hi @heidivanparys ,

given the current structure of the document I would add that as a model transformation rule which defines an alternate, simple representation of the name following your suggestion. Would this be OK?

In the Danish Comments document, there is an `gmlxbt:LanguageStringType` in GML 3.3 that might be used. I am unsure if we can use GML 3.3 elements in INSPIRE GML though. However t

[2019-02-28 08:20] heidivanparys commented on #70
The simplification basically consists of:

1. Model transformation rule for GeographicalName
   1. where spelling.text is kept and its multiplicity changed to 1
   1. where language is kept, its multiplicity changed to 0..1 (xml:lang attribute on gmlxbt:LanguageStringType is optional) and the voidable stereotype is removed
   1. its other properties are discarded.
1. Another encoding than the defa

[2019-02-28 08:28] heidivanparys commented on #71
I think the first part of this issue may be solved by the model transformation described in https://github.com/INSPIRE-MIF/2017.2/issues/70#issuecomment-468180473

Regarding

as I had understood it, information regarding whether or not a name is official is recorded in attribute nameStatus, with the values described in http://inspire.ec.europa.eu/codelist/NameStatusValue ?

[2019-03-14 15:35] #64 closed, assigned to nobody

[2019-03-14 15:35] #68 closed, assigned to nobody

[2019-03-18 11:06] pvgenuchten commented on #52
Short summary on the discussion:
- Use geojson as a file format or as a vocabulary (embedded in other json content)
- Use features of multiple featuretypes in 1 geojson
- Use features having different geometrytype (point/line/polygon) in 1 geojson
- Exposing features in alternative projection (base standard only allows epsg:4326)
- Use nesting of properties

Typical use case of geojson is: having

[2019-03-18 11:11] thorsten-reitz commented on #52
Hi Paul(s), thanks for the summary. Adding rules on requiring just one feature type per GeoJSON file and having a homogeneous Geometry type would be possible.

At least for the two profiles that are currently in the spec, there are no nested properties, though there may be lists of primitive values (Strings, Numbers).

The current spec effectively treats EPSG:4258 and EPSG:4326 as equivalent to en

[2019-03-18 11:49] pvgenuchten commented on #52
If applying strict geojson, also consider how to guide data providers on how to implement a transformation. For example if a GML has multiple featuretypes and/or geometrytypes, consider to advice to split the file in multiple files. Add a link to each of the files in Metadata or Atom.

A wfs response to a user requesting a simplified format will be more challenging. Maybe provide a zip-file having

[2019-03-18 13:52] PalmJanssen opened #73 "NL-review GeoJSON/specification.md"
All,

I put my review remarks on [https://github.com/INSPIRE-MIF/2017.2/blob/master/GeoJSON/specification.md]((https://github.com/INSPIRE-MIF/2017.2/blob/master/GeoJSON/specification.md)) in this one issue

--------------------------------------------------------------------------------------

replace alternate with alternative

**use case.**

Don't we have a general use case description?  Referin

[2019-03-25 14:12] heidivanparys opened #74 "Update of concepts regarding different kinds of encoding rules (glossary)"
Currently, the glossary contains the following entries (after solving #64):

A first remark is that "encoding rule" should be used in the terms, not only "encoding".

I would like to see a separation of definition and (clarifying) notes, as well as adherence to presentation guidelines for terminological entries, as followed in ISO standards and in many INSPIRE documents (ISO 10241-1).

In addition

[2019-03-25 17:10] heidivanparys opened #75 "Relations between important concepts in glossary?"
Could it be an idea to visualize the relations between important concepts in the glossary?

I did an attempt with the diagram below. The concepts not yet present in the glossary are explained below.

![Encoding according to ISO 19118](https://user-images.githubusercontent.com/11427611/54939196-3fd94300-4f28-11e9-9e7d-3a44390b7ea8.jpg)

**data element**
data instance
unit of data that is considered

[2019-03-26 13:40] cportele opened #76 "Review of "Alternate Encoding for INSPIRE Data: GeoJSON""
https://github.com/INSPIRE-MIF/2017.2/blob/master/GeoJSON/specification.md

* [x] While the Introduction says that the encoding will be an alternate or additional encoding depending on the source data, the encoding is also called the "GeoJSON alternate encoding". Isn't this misleading?
* [x] "alternate" and "alternative" are both used. Based on the glossary, "alternative" should be changed to "alt

[2019-03-26 14:09] heidivanparys commented on #74
I think we should also recognize the fact that "encoding rule" and "encoding" often are used as terms for the the same concept. This is e.g. the case in this set of documents. And that "encoding process" can be used as synonym for the other concept "encoding" .

So a new proposal for some of the entries in the glossary:

**encoding**
encoding process
conversion of data into a series of codes
[ISO

[2019-03-27 13:10] heidivanparys opened #77 "Review of Alternate Encoding for INSPIRE Data: GeoJSON (hv/DK)"
My comments so far on https://github.com/INSPIRE-MIF/2017.2/blob/master/GeoJSON/specification.md

## General

- [x] Add a section "Background", explaining why this encoding has been developed. This section should contain a few words regarding the open call and survey (see agenda item "2017.2 Alternative encodings" of the [48th meeting of the MIG permanent technical sub-group](https://ies-svn.jrc.e

[2019-03-28 12:25] heidivanparys opened #79 "SimpleCitation"
I am not convinced regarding the proposal for SimpleCitation. DocumentCitation and LegislationCitation were introduced as a simplification for CI_Citation. Most of the attributes are optional, so if only mandatory attributes are given, it is not a lot of data. So how much simpler would SimpleCitation be?

I also don't agree with the statement that

as that proposal says that the document/legislati

[2019-03-28 14:07] heidivanparys commented on #73
Many of the associations have no tagged value inlineByReference, and then the default is inlineOrByReference (see also https://shapechange.net/app-schemas/uml-profile/#Tagged_values_of_properties). And some associations have explicitly set tagged value inlineByReference to inlineByReference. See [this overview.txt](https://github.com/INSPIRE-MIF/2017.2/files/3018290/INSPIRE.associations.inlineOrBy

[2019-03-29 16:57] thorsten-reitz commented on #75
I am not entirely sure what we decided with respect to these terms and the image in the call. My notes say that it was not deemed necessary to include the image, but what about the two extra defintions? Should we include them for compelteness? They are currently not referenced from any of the geojson encoding rule docs.

[2019-03-29 17:15] michellutz commented on #75
I would say, if the terms are not used, we don't need to include them in the glossary.

[2019-03-29 17:16] thorsten-reitz commented on #77
Would we also have to remove `gml:name`?

[2019-03-29 17:18] thorsten-reitz commented on #77
Notes on my changes:

* I kept the clarification about when this can be alternative and when it is an additional encoding rule, but changed the wording so that it is hopefully clearer. I think it is important enough to keep it in a prominent place.
* I did not address the comment about how good GeoJSON support is. I have, however added a reference to 2017.3 and the caniuse repo to the Preface.

[2019-03-30 14:27] thorsten-reitz commented on #76
Note: Some of the checklist items can't be checked. It seems that those that start with a character other than a letter are affected. The current PR should address...:

- [x] Types: Don't we need a rule for data types?
- [x] 19107 Table: "XML Schema datatype" -> "ISO 19107 type"
- [x] 19107 Table: "GM_MultiSurface | Polygon". "Polygon" -> "MultiPolygon"
- [x] 19107 Table: "GM_Object | not supporte

[2019-04-01 09:25] heidivanparys commented on #75
As far as I remember, we concluded that the image should not be included.

The entries for data element and data structure were an attempt to clarify what is meant with "data structure" in the definitions of:

- conversion rule: rule for converting instances in the input **data structure** to instances in the output **data structure**
- encoding rule: identifiable collection of conversion rules th

[2019-04-01 10:25] heidivanparys commented on #77
In my opinion, yes, and for the same reason: it is a mapping from UML to uml, not from GML to UML or from GML to GML.

From the GML standard:

In the INSPIRE model, properties with those semantics are modelled explicitly:
- for identifiers: fx inspireId, hydroId (hy-p), nationalCode (au), nationalCadastralReference (cp), attributes that use ThematicIdentifer (Base Types 2) as type, etc. etc.
- for

[2019-04-01 12:32] ilkkarinne opened #82 "References to OMSF"
Hi, a I have now created a release of the OGC OMSF Github repository for referencing from the 2017.2 documents: https://github.com/opengeospatial/omsf-profile/tree/v1.0/

Please note that while I'm in definitely in favour of referring to OMSF pages under [Normative references](https://github.com/INSPIRE-MIF/2017.2/blob/master/GeoJSON/specification.md#normative-references), these documents do not y

[2019-04-06 09:09] #74 closed, assigned to nobody

[2019-04-06 09:09] #77 closed, assigned to nobody

[2019-04-06 09:09] #82 closed, assigned to nobody

[2019-04-06 09:14] thorsten-reitz commented on #75
@heidivanparys OK thanks for the clarification. Should we then close this issue here?

[2019-04-06 09:15] thorsten-reitz commented on #69
This is done as far as I can see. Can we close the issue?

[2019-04-08 18:03] heidivanparys commented on #75
Yes, let's close it.

[2019-04-08 18:03] #75 closed, assigned to nobody

[2019-04-08 20:13] heidivanparys opened #84 "Partial transformations?"
I looked at the documents again, and I was wondering, is it possible, that we are missing the concept of a partial transformation?

See https://en.wikipedia.org/wiki/Partial_function and http://mathworld.wolfram.com/PartialFunction.html . See the Simple Geographical Name for an example. If e.g. name status is omitted completely, then the process is not a (total) function at all, and as a consequen

[2019-04-08 20:14] heidivanparys commented on #69
I have a few suggestions, see #83 .

[2019-05-08 06:47] thorsten-reitz commented on #84
@heidivanparys would you propose to add this as an entry to the glossary?

[2019-05-08 06:49] thorsten-reitz commented on #79
@heidivanparys from my perspective we could also apply your proposed model. In `LegislationCitation`, would we also substitute the two `TM_Position` types?

[2019-05-08 06:50] thorsten-reitz commented on #76
@cportele please let me know if we can close this issue.

[2019-05-08 06:50] thorsten-reitz commented on #73
@PalmJanssen Please let me know if we can close this issue.

[2019-05-08 06:53] #69 closed, assigned to nobody

[2019-05-08 06:59] #76 closed, assigned to nobody

[2019-05-14 13:46] sgrellet commented on #34
Static example of one 'ideal' instance served by the WFS server : https://forge.brgm.fr/svnrepository/epos/trunk/instances/BoreholeView.xml

Example WFS app schema query (the one above queries MapServer and not Geoserver) with a BBOX around Roma: http://resource.europe-geology.eu/service/wfsBorehole?service=wfs&version=2.0.2&request=GetFeature&typenames=gsmlp:BoreholeView&srsName=urn:ogc:def:crs:E

[2019-05-14 13:48] sgrellet commented on #34
INSPIRE 2017 conference presentation on how it is applied within EPOS Research Infrastructure EU Borehole Index : http://cnig.gouv.fr/wp-content/uploads/2017/10/EU_BoreholeIndex_Cipolloni_Grellet2.pdf

[2019-05-14 14:28] nmtoken opened #85 "What now of the ETRS:89 requirement for data services?"
**Review Feedback**

Now that GeoJSON has been published as an _Alternative Encoding_  that _Shall satisfy all IR requirements for a data set_, should the advice now change for any encoding with respect the requirement to use ETRS89?

Effectively that if the same caveat applies there is no requirement to use ETRS89?

## Encoding rule

ref: https://github.com/INSPIRE-MIF/2017.2/blob/master/GeoJSON/

[2019-05-14 15:26] nmtoken commented on #34
Getting response of type 'geoserver-GetFeature.application' which is an XML response.  I see a JSON example would be:

[2019-05-14 16:20] sgrellet commented on #34
FYI we are working on GML -> GeoJSON conversion rule here : https://github.com/INSIDE-information-systems/WFS3/issues/6 to be included in Geoserver core. Gihub is not fully up to date as of today. I'll update the content (instances & al.) soon

[2019-05-15 08:10] nmtoken commented on #34
Is this going to be strict GeoJSON i.e. only CRS:84 projection  (no crs member) with re-projection of coordinates when specified in any other CRS in the GML?

That's what it should be

[2019-05-17 08:09] KathiSchleidt opened #86 "Missing Observing Capabilities in EF"
In the EF Model, the ObservingCapabilities FT was created to provide measurement metadata describing HOW (procedure) was WHAT (observedProperty) measured WHERE (featureOfInterest); these three associations mirror the associations of the same name defined for the O&M Observation. While unfortunately not formalized as a constraint, there is a clear statement in the DataSpec that "Consistency has to

[2019-05-17 08:12] KathiSchleidt opened #87 "Missing Link EF to Facility"
In D2.9, there is a requirement for Observations to provide a link to the EF at which they were made.
/req/inspire-om-core/relatedMonitoringFeature-parameter
To make a reference to an Environmental Monitoring Facility or an Environmental Monitoring Network from an OM_Observation, a ‘parameter’ attribute SHALL be provided, whose ‘name’ attribute is 'relatedMonitoringFeature' and whose ‘value’ attri

[2019-05-17 08:30] KathiSchleidt opened #88 "Logical Inconsistencies in EF Examples"
Unfortunately, various logical errors seem to have crept into the transformation process, leading to inconsistent data :(
Examples:

- Example1: Missing what is actually being measured (observedProperty); data is being provided from 2017, while the EF is listed as closed since 2014; Ground water level data is being provided with UoM "Degree Celsius" (a) wrong unit, should be m; b) UoM reference sh

[2019-05-21 20:47] jsaligoe opened #89 "General Flattening - Field name recommendations"
**Review Feedback**

## MT001: Flattening of nested structures
applies to [General Flattening of nested structures](https://github.com/INSPIRE-MIF/2017.2/blob/master/model-transformations/GeneralFlattening.md)

and [GeoJSON Encoding Rule for INSPIRE Addresses](https://github.com/INSPIRE-MIF/2017.2/blob/master/GeoJSON/ads/simple-addresses.md)

## Field (property) name recommendation
To promote the

[2019-05-21 20:50] jsaligoe opened #90 "Glossary item: Property name"
**Review Feedback**

## [Glossary for Alternative Encodings](https://github.com/INSPIRE-MIF/2017.2/blob/master/glossary.md)
Suggested item

## new item: Property name

Property name:  when expressed in a database, table, and/or GIS client, term is interchangeable with "field name", "feature object name", "attribute name", "field column name", etc.

[2019-05-29 19:29] heidivanparys commented on #79
I have no idea why data type TM_Position was chosen at the time, and not Date. The definitions also use "date", so I am wondering if TM_Position isn't overkill for these attributes. Maybe someone knows the history of this? @michellutz ?

If a "date entered into force" and "date repealed" both are a date (and thus not a month or a year), then using Date instead of TM_Position for those attributes i

[2019-05-29 19:35] heidivanparys commented on #84
This would have consequences in some of the model transformations.

This is mathematically not correct: the transformation is not even a function. It is a partial function. And there it can, by definition, not be a bijection.

I would like to emphasize once more: I definitely don't want to make it more complicated than needed. But my suggestion would be to either drop the mathematical terms (perha

[2019-06-03 07:28] #61 closed, assigned to nobody

[2019-07-01 12:58] codinachssm opened #91 "GeoJSON Encoding Rule - INSPIRE Addresses - Model Mapping"
GeoJSON Encoding Rule - INSPIRE AD - Model mapping

There are minor errors on the Model Mapping document at https://github.com/INSPIRE-MIF/2017.2/blob/master/GeoJSON/ads/simple-addresses.md.
More concretely, at table where explains the mapping between the classes and properties of the original Addresses (AD) model to the Simplified Addresses (ADS) model):

![01-07-2019 10-58-23](https://user-image

[2019-07-01 13:09] codinachssm opened #92 "GeoJSON Encoding Rule - INSPIRE Addresses - Model Mapping: designator/name"
GeoJSON Encoding Rule - INSPIRE AD - Model mapping: **locator.designator.buildingIdentifier**

I’m following the model mapping described at https://github.com/INSPIRE-MIF/2017.2/blob/master/GeoJSON/ads/simple-addresses.md to convert from GML encoding Addresses to GeoJSON encoding Addresses. And I have the following question:

In the GML AD encoding we have 2 possible attributes (properties) to com

[2019-07-05 08:11] codinachssm opened #93 "GeoJSON Encoding Rule - INSPIRE AD - Model mapping: locator.designator.addressNumber/addressExtension"
GeoJSON Encoding Rule - INSPIRE AD - Model mapping: locator.designator.addressNumber/addressExtension

I’m following the model mapping described at https://github.com/INSPIRE-MIF/2017.2/blob/master/GeoJSON/ads/simple-addresses.md to convert from GML encoding Addresses to GeoJSON encoding Addresses. And I have the following question:

In our country ONE address can consist of 2 pairs of "addressNum

[2019-07-05 08:39] thorsten-reitz commented on #92
You should be able to use `locator{0}.AddressLocator.name{0}.LocatorName.name{0}`.

It seems we missed that property when creatign the mapping table, so I would add it now.

[2019-07-05 08:48] thorsten-reitz commented on #93
The intent behind the GeoJSON encoding is to create a structure that, for most use cases, is fully flattened and does not use complex properties, as these have very limited support in a lot of client software.

For this reason, creating an object structure for the `locator.designator` property is not compliant to the encoding. Given that `locator.designator.addressNumber` is of type `String` in th

[2019-07-05 09:04] #92 closed, assigned to nobody

[2019-07-05 09:23] #91 closed, assigned to nobody

[2019-07-05 09:23] thorsten-reitz commented on #91
Thanks for spotting that one. A fix has been commited and merged.

[2019-07-08 07:42] thorsten-reitz commented on #89
@jsaligoe we had discussed the usage of a dot vs. using an underscore to separate field names, and decided to go with an underscore as the default option for this encoding. The reason is that we wanted to stay in line with JSON Pointer syntax. If the dot is a major problem for ArcMap/AGOL/ArcGIS pro client side processign we should re-evaluate this.

When using an RDBMS such as Oracle, I would not

[2019-07-08 12:43] sgrellet commented on #34
Yes CRS:84 only (see https://github.com/INSIDE-information-systems/WFS3/issues/2)

[2019-07-08 12:58] nmtoken commented on #34
Will you use RFC7946 Layer Creation Option of [GDAL](https://gdal.org/drivers/vector/geojson.html), or build you own?

[2019-07-15 15:45] ftporthlnug opened #96 "Availability/Access namespace "simple""
In the Model Transformation main document,
(https://github.com/INSPIRE-MIF/2017.2/blob/master/modeltransformations/
TransformationRules.md),
a new namespace is mentioned:

Catalogue of simplifying Model Transformations
"These [less complex] types are added to a new simple namespace (http://inspire.ec.europa.eu/schemas/simple/1.0)."

I could not access this site.

When will it be available for use?

[2019-08-05 13:15] #2 closed, assigned to nobody

[2019-08-05 13:15] #3 closed, assigned to nobody

[2019-08-05 13:15] #4 closed, assigned to nobody

[2019-08-05 13:15] #5 closed, assigned to nobody

[2019-08-05 13:15] #6 closed, assigned to nobody

[2019-08-05 13:15] #7 closed, assigned to nobody

[2019-08-05 13:15] #8 closed, assigned to nobody

[2019-08-05 13:15] #9 closed, assigned to nobody

[2019-08-05 13:15] #11 closed, assigned to nobody

[2019-08-05 13:15] #12 closed, assigned to nobody

[2019-08-05 13:15] #13 closed, assigned to nobody

[2019-08-05 13:16] #18 closed, assigned to nobody

[2019-08-05 13:16] #21 closed, assigned to nobody

[2019-08-05 13:16] #22 closed, assigned to nobody

[2019-08-05 13:16] #28 closed, assigned to nobody

[2019-08-05 13:16] #30 closed, assigned to nobody

[2019-08-05 13:16] #53 closed, assigned to nobody

[2019-08-05 13:16] #54 closed, assigned to nobody

[2019-08-05 13:17] #14 closed, assigned to nobody

[2019-08-05 13:17] #15 closed, assigned to nobody

[2019-08-05 13:17] #16 closed, assigned to nobody

[2019-08-05 13:17] #19 closed, assigned to nobody

[2019-08-05 13:17] #20 closed, assigned to nobody

[2019-08-05 13:17] #23 closed, assigned to nobody

[2019-08-05 13:17] #24 closed, assigned to nobody

[2019-08-05 13:17] #25 closed, assigned to nobody

[2019-08-05 13:17] #26 closed, assigned to nobody

[2019-08-05 13:17] #27 closed, assigned to nobody

[2019-08-05 13:17] #29 closed, assigned to nobody

[2019-08-05 13:17] #31 closed, assigned to nobody

[2019-08-05 13:17] #32 closed, assigned to nobody

[2019-08-05 13:17] #43 closed, assigned to nobody

[2019-08-05 13:17] #44 closed, assigned to nobody

[2019-08-05 13:17] #45 closed, assigned to nobody

[2019-08-05 13:18] #46 closed, assigned to nobody

[2019-08-05 13:18] #47 closed, assigned to nobody

[2019-08-05 13:18] #48 closed, assigned to nobody

[2019-08-05 13:18] #51 closed, assigned to nobody

[2019-08-05 13:18] #52 closed, assigned to nobody

[2019-08-05 13:18] #55 closed, assigned to nobody

[2019-08-05 13:18] #56 closed, assigned to nobody

[2019-08-05 13:19] michellutz commented on #67
Accept.

[2019-08-05 13:21] michellutz commented on #73
@thorsten-reitz Have you implemented the changes proposed by @PalmJanssen ?

If not, could you please discuss which ones have been accepted and which ones not (and why)?

[2019-08-05 13:22] michellutz commented on #84
Accept.

[2019-08-05 13:31] michellutz commented on #86
Indeed, while the mapping table for EnvironmentalMonitoringFacility has an entry for the observingCapability property, it is not clear what type this is mapped to in GeoJSON (the table says "ObservingCapability", but this is not further defined in the spec). The complex type should either be represented as a string (then we would need to define how) or, maybe better, split into several properties.

[2019-08-05 13:40] michellutz commented on #87
Accepted in principle. But this would mean a change to the OMSF data model, which is not under the control of INSPIRE.

If the OMSF model is not changed accordingly, we could still propose adding this property for INSPIRE, or we should discuss why this requirement is not fulfilled in the GeoJSON encoding. The latter would mean, however, that the EFS encoding for observations can only ever be an _a

[2019-08-05 13:42] michellutz commented on #88
Accept. The examples should be updated.

[2019-08-05 13:43] michellutz commented on #90
Accept

[2019-08-05 13:48] michellutz commented on #89
We also found issues in other client tools (e.g. [pygeoapi](https://github.com/geopython/pygeoapi)) with the _dot_ as separator and would therefore propose to switch to _underscores_.

[2019-08-05 14:01] michellutz commented on #85
From the provider point of view: If you want (for whatever reason) to share your data in some other CRS than CRS84, you shall include the `crs` member as specified in the deprecated (Draft 6 of the GeoJSON specification). While deprecated, this is still widely supported in client software (e.g. QGIS).

From the user point of view: if you receive GeoJSON with a `crs` member, you shall interpret the

[2019-08-05 14:04] michellutz commented on #85
P.S. we noted that the latest _OGC-API Features_ no longer seems to include a requirement as referred to from the GeoJSON encoding rule:

So this reference should be updated or reworded.

[2019-08-05 14:06] nmtoken commented on #85
That's for GeoJSON, but what about other formats, say GML, CovJSON, GeoTIFF, coming from other services not just WFS.

If CRS:84 can be considered as an alternate CRS for ETRS:89 (assuming accuracy isn't affected), then doesn't this apply to any INSPIRE service and any format?

[2019-08-05 14:09] ilkkarinne commented on #87
The OMSF does contain the following properties more or less related to the "origin"  or "source" of the Observation:

- samplingFeature (the intermediate feature used to indirectly observe the interesting properties of the ultimateFeatureOfInterest)
- userProcedure (the "how" or the recipe for making this kind of Observations)
- madeBySensor (the "who/which")

The O&M "parameter" property is not i

[2019-08-05 14:16] KathiSchleidt commented on #87
Adding this to the properties would make sense, you'd just need to define the attributes used, similar to what we've done for STA

[2019-08-05 14:19] nmtoken commented on #85
However the OGC API - Features - Part 1: Core does have:

Or CRS:84 as we know it

[2019-08-05 14:21] michellutz commented on #79
No idea why both `Date` and `TM_Position` are used in these types. But I tend to agree that this should be harmonised (at least in the encoding).

For the simplification rule, the main idea behind `DocumentCitation` and `LegislationCitation` was indeed to simplify `CI_Citation` or, even better, not to use them at all, but rather point to an external register, where these documents are maintained (

[2019-08-05 14:25] KathiSchleidt commented on #86
I could see flattening the ObsCaps attributes into the basic EF FT, as long as there is only one ObsCaps per EF
Question is what you do when one EF measures multiple ObservedProperties. With complex features, we foresaw 2 models:
1. One EF FT per ObservedProperty, all linked to a higher level EF FT for the entire station via the broader<->narrower association (this is the reason the ObsCaps are no

[2019-08-05 14:25] #65 closed, assigned to nobody

[2019-08-05 14:30] michellutz commented on #34
@nmtoken  @sgrellet  Can this issue be close (or moved)?

[2019-08-05 14:31] michellutz commented on #33
@nmtoken  Can this issue be closed (or moved)?

[2019-08-05 15:14] nmtoken commented on #34
I guess can be closed if we're not looking into any more alternate encodings at the moment

[2019-08-05 15:15] nmtoken commented on #33
I guess can be closed if we're not looking into any more alternate encodings at the moment

[2019-08-05 15:15] #33 closed, assigned to nobody

[2019-08-05 15:15] #34 closed, assigned to nobody

[2019-08-06 06:33] thorsten-reitz commented on #96
@michellutz We could generate the schemas for ADS and EFS and place them there. However I considered this namespace to be a proposal that I believe we should breifly discuss. Should we also provide (XML) schemas in that namespace at all?

If not, I will clarify the statement cited in this issue.

[2019-08-06 06:33] thorsten-reitz commented on #89
OK, I will switch back to underscores then to optimize data usability.

[2019-08-06 15:24] michellutz commented on #96
In my view the schemas should go into the https://inspire.ec.europa.eu/draft-schemas/ namespace and repository using their own specific path/folder (e.g. ads or efs). Once the good practice documents have been endorsed by the MIG, the schemas should then move into the https://inspire.ec.europa.eu/schemas/ namespace and repository.

[2019-08-31 15:28] thorsten-reitz commented on #93
As there was no further comment, I will close this issue.

[2019-08-31 15:28] #93 closed, assigned to thorsten-reitz

[2019-08-31 15:41] thorsten-reitz commented on #89
I recommend creating a follow-up ticket for additional rules that model transformation rules focused on shortening field lengths.

[2019-08-31 15:52] thorsten-reitz commented on #88
Weird, there was an inconsistency between the example in the text and the separte example file. Fixed these issues now.

I didn't have actual data for all empty fields. If you or Sylvain have domain knowledge on these measurements, feel free to make additions.

[2019-09-02 06:25] thorsten-reitz commented on #88
With respect to the backlink, I followed the examples at OMSF-JSON:

https://raw.githubusercontent.com/opengeospatial/omsf-profile/master/omsf-json/examples/timeseries-observation_geojson_feature-collection.json

@ilkkarinne yet me know whether these exaples are correct, or whether I missed something.

[2019-09-02 06:35] thorsten-reitz commented on #87
@ilkkarinne  this answers my question from #88.  `samplingFeature` is in the model right now.

@KathiSchleidt Do I understand the requirement right that I add two properties:

[code]

Alternatively, we could a dd a single key `relatedMonitoringFeature`, with a value of `EnvironmentalMonitoringFacility_1`.

[2019-09-02 06:55] thorsten-reitz commented on #86
I've added the Observing Capabilities to the profile. Please review (PR coming in a moment) and feel free to suggest how to apply that to the examples.

[2019-09-02 06:56] thorsten-reitz commented on #62
@michellutz Not sure what I could do with this issue. I used the data from the service as input for the EFS examples.

[2019-09-02 08:41] thorsten-reitz commented on #85
I changed the wording of the refernece to WFS 3.0. Do I understand you right that we should add an example for request and response for a different CRS than the default to the section as well?

[2019-09-02 08:43] thorsten-reitz commented on #73
@michellutz @PalmJanssen most of the points, where concrete enhancements were suggested, were implemented. I did not add a UML model of the simplied addresses model though. Should we still build one?

[2019-09-02 08:46] thorsten-reitz commented on #70
@michellutz I did not take this up for the work on the GeoJSON rule, as it seemed out of scope to me. With respect to the GeoJSON encoding, it achieves the same as the current approach, albeit in a slightly more general way. I would consider this as a possible enhancement for future development.

[2019-09-02 08:51] thorsten-reitz commented on #60
@NathalieDelattre Do you currently see any unmet requirements given this issue?

[2019-09-02 08:52] thorsten-reitz commented on #57
Doesn't this issue duplicate #60 to some degree?

[2019-09-02 08:52] thorsten-reitz commented on #57
@NathalieDelattre would you agree to closing this issue?

[2019-09-02 13:16] nmtoken commented on #85
@thorsten-reitz  not sure if that comment is to me or to Michel.  The reason I raised this question/issue, was for clarification of status now for encodings other than  GeoJSON and their use of CRS:84 as an alternate CRS, rather than the current requirement for a CRS using ETRS:89.  It's an Alternative Encoding question not a question about how to use other CRS in GeoJSON.

So, I'm not sure what t

[2019-09-02 14:38] #88 closed, assigned to thorsten-reitz

[2019-09-02 14:38] #89 closed, assigned to thorsten-reitz

[2019-09-02 14:38] #90 closed, assigned to thorsten-reitz

[2019-09-02 14:38] #96 closed, assigned to thorsten-reitz

[2019-09-02 14:38] #67 closed, assigned to thorsten-reitz

[2019-09-02 14:38] #79 closed, assigned to thorsten-reitz

[2019-09-02 14:38] #84 closed, assigned to thorsten-reitz

[2019-09-02 14:41] nmtoken commented on #85
Should I ask the original question again? my issue, seems to have been conflated with an other issue which you have closed

[2019-09-02 14:43] thorsten-reitz commented on #85
@nmtoken we can reopen this one, it closed automatically on merging the PR.

[2019-09-02 14:59] thorsten-reitz commented on #85
@nmtoken However, I am not yet sure how to proceed on the issue in the scope of the GeoJSON encoding :).

[2019-09-02 15:12] nmtoken commented on #85
@thorsten-reitz the scope of 2017.2 isn't just GeoJSON,

[2019-09-23 14:36] PalmJanssen commented on #73
@thorsten-reitz @michellutz Sorry to let this wait for such a long time.
One would expect that a simplified UML of Addresses is clearifying  because of this statement in the doc:
'_In this encoding rule, we take a two-step approach, where we apply model transformations on the level of the conceptual model. This model can then be encoded in simple GeoJSON using the general schema and instance conve

[2019-09-26 19:07] thorsten-reitz commented on #87
@KathiSchleidt Is there any feedback you could give me on this please? I am wrapping up the work currently.

[2019-09-26 19:08] thorsten-reitz commented on #86
Closing this since PR was merged and no further feedback given.

[2019-09-26 19:08] #86 closed, assigned to thorsten-reitz

[2019-09-27 09:47] KathiSchleidt commented on #87
@thorsten-reitz Good question, think I'd go for your alternative option, provision as relatedMonitoringFeature.
Reasoning: the OM_Observation parameter you've derived the parameter_name&parameter_value attributes from has cardinality *. Within INSPIRE EF we utilize the parameter to provide various types of additional information (See the process parameters in D2.9); since reuse of attributes is no

[2019-09-27 09:51] KathiSchleidt commented on #86
Would have been nice if this was also added to the examples as would make for better understanding. Also - have you foreseen what you do when an EF measures multiple properties?

[2019-10-07 10:14] #57 closed, assigned to thorsten-reitz

[2019-10-07 10:14] #62 closed, assigned to thorsten-reitz

[2019-10-09 14:40] KathiSchleidt commented on #87
Hiya,
Stefania requested me to do a simple set of XML encoded EF data, partially triggered by the missing bits in this exercise. Probably too late for this work, but it's now available at: https://github.com/DataCoveEU/INSPIRE_EF
Currently there's one example for Air Quality, 1 station, 2 sampling points, processes, data
HTH!

[2019-10-11 14:44] #87 closed, assigned to thorsten-reitz

[2019-10-12 21:47] jsaligoe opened #100 "Proposed Model Transformation Rule: Retain Additional Child Elements"
**Review Feedback**
For consideration, a Model Transformation (MT) rule to retain additional instances of child elements after flattening nested structures. This rule can be used with Alternative Encodings that support related child elements to avoid loss of data.

## MT00X: (PROPOSED) Retain Additional Child Elements

**Category**
Simplification Rule

**Description**
The complex structure of mode

[2019-10-12 23:11] jsaligoe opened #101 "Proposed Model Transformation Rule: Fan-Out Features by Geometry Type"
**Review Feedback**
For consideration, a Model Transformation (MT) rule to fan-out features into separate feature classes depending on the geometry type.

**MT00X: (PROPOSED) Fan-Out Features by Geometry Type**

**Category**
Simplification

**Description**
To improve usability within standard GIS systems, the geometry type may be fanned-out into multiple feature classes for portrayal in layers.

S

[2019-10-12 23:30] jsaligoe opened #102 "Proposed Model Transformation Rule: Fan-Out Feature Types to Multiple Feature Classes"
**Review Feedback**
For consideration, a Model Transformation (MT) rule to fan-out features into separate feature classes depending on the feature type.

**MTXXX: (PROPOSED) Fan-Out Feature Types to Multiple Feature Classes**

**Category**
Simplification

**Description**
To improve usability within standard GIS systems, the feature type may be fanned-out into multiple feature classes for portrayal

[2019-10-12 23:48] jsaligoe opened #103 "Proposed Model Transformation Rule: Abbreviate Compound Property Names to Limit Field Length"
**Review Feedback**
For consideration, a Model Transformation (MT) rule to limit field lengths to 30 characters.

**MT00X (PROPOSED) Abbreviate Compound Property Names to Limit Field Length**

**Category**
Simplification Rule

**Description**
This transformation rule helps limit property feature class name lengths to 30 characters through substitution of abbreviated property names. In compound pro

[2021-06-18 15:07] arbakker opened #105 "Looking for howto on data transformation from harmonized to alt. encoding"
@thorsten-reitz  Next week I am working with a colleague on a POC project to implement an OGCAPI-Features service with INSPIRE data. The plan is to serve out INSPIRE addresses using the alternative encoding.

As a service provider we receive data in harmonized GML format. Therefore I am looking for an example on how to perform the actual transformation from INSPIRE harmonized GML to alternative en

[2021-06-21 06:58] thorsten-reitz commented on #105
@arbakker I don't think there are public transformation projects from INSPIRE GML to GeoJSON available. I quickly looked into my local resources and also didn't find one that fully follwos the UML-to-GeoJSON encoding rule fully.

There is a lot of material on GeoPackage here:

https://github.com/wetransform-os/geopackage-end

[2021-09-03 14:37] #105 closed, assigned to nobody

[2021-09-03 15:05] KathiSchleidt commented on #105
@arbakker while I'm unclear on the details of the underlying encoding, I do know that GeoServer will let you activate an OGCAPI-Features endpoint on existing WFS - maybe this is of help?